.site__question-list-container {
  margin: 4em 0;
}

.question-list__question-section--part-1 {
  border: 4px double #b75b4f;
  border-radius: 4px;
  color: #b75b4f;
  padding: 1em;
  margin-bottom: 2em;
}

.question-list__question-section--part-2 {
  border: 4px double #4F6D7A;
  border-radius: 4px;
  color: #4F6D7A;
  padding: 1em;
  margin-bottom: 2em;
}

.question-list__question-section--part-3 {
  border: 4px double #526656;
  border-radius: 4px;
  color: #526656;
  padding: 1em;
  margin-bottom: 2em;
}

.question-list__question-section--part-1 .question-section__title {
  color: #b75b4f;
}

.question-list__question-section--part-2 .question-section__title {
  color: #4F6D7A;
}

.question-list__question-section--part-3 .question-section__title {
  color: #526656;
}

.question-section__title {
  margin-top: .5em;
  text-align: center;
}

.question-section__lesson-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question-section__lesson-list > li {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: .5em;
  transition: transform .4s cubic-bezier(0.59, 0.24, 0.01, 0.98);
}

.question-section__lesson-list > li:hover {
  transform: scale(1.05);
}

.question-section__lesson-list > li:focus .lesson-list__link::before,
.question-section__lesson-list > li:hover .lesson-list__link::before,
.question-section__lesson-list > li:active .lesson-list__link::before {
  height: 100%;
}

.question-section__lesson-list > li:focus .lesson-list__link::after,
.question-section__lesson-list > li:hover .lesson-list__link::after,
.question-section__lesson-list > li:active .lesson-list__link::after {
  width: 100%;
}

a.lesson-list__link {
  font-family: 'Alegreya Sans SC', Verdana, sans-serif;
  font-size: .875em;
}

.lesson-list__lede {
  font-size: .875em;
  padding: 1em 0;
  line-height: 1.125;
}

@media screen and (min-width: 37.5em ) {
  .question-section__lesson-list > li {
    flex: 0 1 33%;
  }
}
