@media screen and (min-width: 43.75em ) {
  .site__scripture {
    display: flex;
    justify-content: space-between;
  }

  .scripture__header {
    align-items: flex-start;
    display: flex;
    flex: 0 0 30%;
    padding-right: 1em;
    justify-content: flex-end;
  }

  .scripture__header > h2 {
    margin-top: .75rem;
  }

  .scripture__content {
    flex: 0 0 70%;
  }

  .scripture__container > blockquote {
    margin: 0
  }
}
