<footer class="site__footer" role="contentinfo">
    <section class="footer__section">
        <h2 class="footer__heading">Site Map</h2>
        <ul class="footer__nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/documentation/introduction/">Introduction</a></li>
            <li><a href="/documentation/frequently-asked-questions/"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
        </ul>
    </section>
    <section class="footer__section">
        <h2 class="footer__heading">Scripture</h2>
        <div class="copyright__container copyright__container--ESV">
            <p>Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. May not copy or download more than 500 consecutive verses of the ESV Bible or more than one half of any book of the ESV Bible.</p>
        </div>
        <div class="copyright__container copyright__container--NIV">
            <p>Scriptures taken from the Holy Bible, New International Version®, NIV®. Copyright © 1973, 1978, 1984, 2011 by Biblica, Inc.™ Used by permission of Zondervan. All rights reserved worldwide. www.zondervan.com The “NIV” and “New International Version” are trademarks registered in the United States Patent and Trademark Office by Biblica, Inc.™</p>
        </div>
        <div class="copyright__container copyright__container--NLT">
            <p>Scripture quotations are taken from the Holy Bible, New Living Translation, copyright ©1996, 2004, 2007, 2013, 2015 by Tyndale House Foundation. Used by permission of Tyndale House Publishers, Inc., Carol Stream, Illinois 60188. All rights reserved.</p>
        </div>
    </section>
    <section class="footer__section">
        <h2 class="footer__heading">Song, Video, &amp; Catechism</h2>
        <p>All Songs are Copyright © 2005&ndash;2015 by <a href="http://songsforsaplings.com/" rel="noopener external">Dana Dirksen</a>.</p>
        <p>All Videos are Copyright © 2012 by <a href="https://www.thegospelcoalition.org/" rel="noopener external">The Gospel Coalition</a>.</p>
        <p>Catechism content is Copyright © 2012 by <a href="https://www.redeemer.com/" rel="noopener external">Redeemer Presbyterian Church</a>. We encourage you to use and share this material freely—but please don’t charge money for it, change the wording, or remove the copyright information.</p>
    </section>
    <section class="footer__section">
        <h2 class="footer__heading">Web Catechism</h2>
        <p>Excepting other Copyrighted content, Web Catechism is Copyright &copy; 2015&ndash;{{ dateFormat "2006" now }} by <a href="https://integrisweb.com" rel="noopener external">Ben Forshey</a> and licensed under the <a href="/documents/LICENSE.txt">MIT License</a>.</p>
        <p>Suggestions / contributions are welcome at <a href="mailto:hello@integrisweb.com">hello@integrisweb.com</a> or this project&rsquo;s <a href="https://github.com/benforshey/webcatechism" rel="noopener external">GitHub Repository</a>.</p>
    </section>
</footer>
