<link rel="stylesheet" href="{{- .Site.BaseURL -}}/build/app.css">
<script async src="{{- .Site.BaseURL -}}/build/polyfill.js"></script>
<script defer src="{{- .Site.BaseURL -}}/build/app.js"></script>
<meta property="og:title" content="Web Catechism">
<meta property="og:description" content="Learn the New City Catechism through a modern web application.">
<meta property="og:image" content="https://webcatechism.com/images/social-media-card.png">
<meta property="og:url" content="https://webcatechism.com">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="Web Catechism">
<meta name="twitter:image:alt" content="Web Catechism | Rightly Handling the Word">
<meta property="fb:app_id" content="611547232378295" />
<meta name="twitter:site" content="@benforshey">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4c4c47">
<meta name="theme-color" content="#4C4C47">
